Flask==0.10.1
future==0.16.0
fuzzywuzzy==0.15.1
apiai==1.2.3
requests
redis
rq
rasa-core==0.7.9
rasa-nlu==0.10.5
spacy-nightly
sklearn_crfsuite
sklearn
-e https://github.com/explosion/spacy-models/releases/download/en_vectors_glove_md-1.0.0/en_vectors_glove_md-1.0.0.tar.gz
